/* font family Montserra*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* font family Playfair_Display*/

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    /*word-break: break-all;*/
    font-family: 'Montserrat', sans-serif;  
    object-fit: fill;
    background-color: #12171a;
    background-image: url('../img/background.jpg');
    background-position: 0% 0%;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: scroll;
    overflow: visible;    
}

canvas{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1000;
    filter: blur(1px);
    width: 100%;
    height: 100%;
}

header{
    font-family: 'PlayfairDisplay', sans-serif; 
}

h1 {
     font-family: 'PlayfairDisplay', sans-serif; 
}

h2 {
     font-family: 'PlayfairDisplay', sans-serif; 
}

h3 {
    font-family: 'PlayfairDisplay', sans-serif; 
}

footer{
    font-family: 'Montserrat', sans-serif;
}

/* navbar */

#div_for_center_menu {
    width: 162px; /* Pour centrer le menu par rapport a la fenetre on rajoute un div vide de la taille du logo */
}

/* banner-picture */

#banner-picture
{
    background-image: url('../img/banner_wide.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    margin: 150px auto 50px auto;
    width: 100%;
    height: 200px;
}

@media screen and (min-width: 576px) {
    #banner-picture {
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    #banner-picture {
        height: 300px;
    }
}

@media screen and (min-width: 992px) {
    #banner-picture {
        height: 350px;
    }
}

@media screen and (min-width: 1280px) {
    #banner-picture {
        height: 440px;
    }
}

/* color palette 1836 */

.text-custom-black {
    color: #12171a !important;
}

.bg-custom-black {
    background-color: #12171a !important;
}

.text-custom-teal {
    color: #335449 !important;
}

.bg-custom-teal {
    background-color: #335449 !important;
}

.text-custom-pale-pink {
    color: #ecdce9 !important;
}

.bg-custom-pale-pink {
    background-color: #ecdce9 !important;
}

.text-custom-grayish-pink {
    color: #c1a7b3 !important;
}

.bg-custom-grayish-pink {
    background-color: #c1a7b3 !important;
}

.text-custom-raspberry {
    color: #a55265 !important;
}

.bg-custom-raspberry {
    background-color: #a55265;
}

.text-custom-golden {
    color: #edca81 !important;
}

.text-custom-green {
    color: #2e9d91 !important;
}

.text-custom-white {
    color: #ffffff !important;
}

.bg-custom-golden {
     background-color: #edca81;
}

#main-container-fluid {
    /*background-image: url('../img/lotus.svg');*/
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: 10% 0%;    
    width: 100%;
    height: 100%;
}

.card {
    /*border: solid 1px #ecdce9 !important;*/
    border: none;
    background: rgba(255, 255, 255, 0.0);
}

.card-group {
    max-width: 1296px;
    margin-left:auto;
    margin-right:auto;
}

ul.card-text {
    margin:5px;
    list-style: none;
}

ul.card-text li {
    background:url('../img/lotus_gold_li.svg') no-repeat 0 3px; 
    padding-left: 30px;
    padding-bottom: 10px; 
}

.border-none {
    border: none !important;
}

/*animation de l'opacité */
.opacity-animate-hidden {
    opacity: 0 !important;
    transition: opacity 3s ease-in-out;   
}

.opacity-animate-div {
    opacity:1.0 !important;
}

/* left div */

.left-hidden {
    display:none;
	opacity: 0;
	transform: translateX(-20%);
	transition: all 2.0s ease-in-out;
}

.left-right-animate-div {
    display: flex;
    margin: 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none; 
}

.left-right-animate {
	opacity: 1;
	transform: translateX(0);
}

/* right div */

.right-hidden {
    display:none;
	opacity: 0;
	transform: translateX(+20%);
	transition: all 2.0s ease-in-out;
}

.right-left-animate-div {
    display: flex;
    margin: 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.right-left-animate {
	opacity: 1;
	transform: translateX(0);
}
    
.spacer {
    z-index: 2;
    width: 100%;
    height: 150px;
    position: relative;  
}

